@{
    ViewBag.Title = "GodlyVille - About";
}

<h3>@ViewBag.Message</h3>
<q>Rejoice in the Lord, Always</q>
<cite>(Philippians 4:4)</cite>
<hr />
<p>GodlyVille Productions is a not-for-profit Christian Musical Theater Company.</p>
<p>Producing high quality musical and non-musical dramas, comedies, and sketches</p>
<p>Designed to "Know the Lord" and "Make Him Known"!</p>
<hr />
<h4>Web Project:</h4>
<p>This is a web project aimed at showcasing my (Daniel Raymond Patfield) following technical skills:</p>
<ul>
    <li>ASP.NET</li>
    <li>MVC Framework</li>
    <li>Web APIs</li>
    <li>Basic Front-End (HTML, CSS, JavaScript, JQuery, JSon, etc.</li>
    <li>Entity Framework</li>
    <li>SQL Database Development</li>
</ul>
