@{
    ViewBag.Title = "GodlyVille - Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    P.O. Box 123<br />
    Crystal Lake, IL 60014<br />
    <abbr title="Phone">P:</abbr>
    815.558.4758
</address>

<address>
    <a href="mailto:info@godlyville.com">Box Office</a><br />
    <a href="mailto:papadan1066@outlook.com">Artistic Director</a>
</address>