@{
    ViewBag.Title = "GodlyVille - Home";
}

<div>
    <h1>GodlyVille Productions</h1>
    <q>Rejoice in the Lord, Always</q>
    <cite>(Philippians 4:4)</cite>
    <hr />
    <p>GodlyVille Productions is a web framework project using various full-stack technologies.</p>
    @Html.ActionLink("Learn More", "About", "Home", null, new { @class= "btn btn-primary"})
</div>
